@model BlueDataWeb.Models.ImagePage

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("Create", "ImagePage", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <div class="mar10 borall">
        <div class="floatl">
            <span class="floatl">
                <img src="/Areas/Admin/images/icon-48-generic.png" />
            </span>
            <span class="title-name">Thêm ImagePage</span>
        </div>
        <ul class="floatr toolbar-list">
            <li id="toolbar-cancel" class="button">
                <a class="toolbar" href="/admin/ImagePage/Index">
                    <span class="icon-32-cancel"></span>
                    Hủy bỏ
                </a>
            </li>
            <li class="button">
                <div class="toolbar">
                    <span class="icon-32-apply"></span>
                    <input type="submit" value="Lưu" />
                </div>
            </li>
        </ul>
    </div>
    <!--end borall-->
    <div class="clear0"></div>
    <div class="mar10 borall">
        <div class="div100">
            <fieldset class="fromlist">
                <legend>Create</legend>
                <ul>
                    <li>
                        @Html.LabelFor(model => model.KeyName, "KeyName")
                        @Html.TextBoxFor(model => model.KeyName, new { size = "70" })
                    </li>
                    <li>
                        @Html.LabelFor(model => model.MetaKeywords, "MetaKeywords")
                        @Html.TextBoxFor(model => model.MetaKeywords, new { size = "70" })
                    </li>

                    <li>
                        @Html.LabelFor(model => model.MetaDescription, "MetaDescription")
                        @Html.TextBoxFor(model => model.MetaDescription, new { size = "70" })
                    </li>

                    <li>
                        @Html.LabelFor(model => model.Image, "Hình(1366*380)")
                        <input type="file" name="img" id="img" />
                        @Html.ValidationMessageFor(model => model.Image, null, new { @class = "validate" })
                    </li>
                </ul>
            </fieldset>
        </div>
    </div>
}