@model BlueDataWeb.Models.News

@using System.Configuration

@using BlueDataWeb.Models.Entites;
@{
    ViewBag.Title = Model.Title;
    ViewBag.Description = Model.MetaDescription;
    ViewBag.Keywords = Model.MetaKeywords;
    var NewsList = (List<News>)ViewBag.TopNewRelate;
    List<NewCategory> lstnewcategory = ViewBag.lstCate as List<NewCategory>;
}

@*@{Html.RenderAction("GetByKeyName", "ImagePage", new { keyName = "tintuc" });}*@

<div class="container body-content">

    <div class="row">
        <div class="col-md-8 main-content">

            <div class="tilte_green">
                <span> <i class="icon_sanpham"></i> @Model.Title</span>
            </div>

            <div class="clearfix"></div>

            <div class="social">
                <div class="fb-like" data-href="@HttpContext.Current.Request.Url" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
                <div class="g-plusone" data-href="@HttpContext.Current.Request.Url" data-size="medium"></div>
            </div>

            <div class="shoft_des">
                @Model.ShortDescription
            </div>

            <div class="clearfix"></div>

            <div>
                @Html.Raw(Model.Description)
            </div>

            <div class="clearfix"></div>

            <div class="more-news">

                <div class="tilte_green">
                    <span> <i class="icon_sanpham"></i>Các tin khác</span>
                </div>

                <div class="clearfix"></div>
                <ul class="list">
                    @foreach (var item in NewsList)
                    {
                        string link_detail = Url.RouteUrl("duandetail", new { cate = BlueDataWeb.Utility.HelperSEO.ToSeoUrl(item.NewCategory.Name), title = BlueDataWeb.Utility.HelperSEO.ToSeoUrl(item.Title), id = item.NewsID });

                        <li>
                            <a title="@item.Title" href="@Url.RouteUrl("duandetail", new { title = BlueDataWeb.Utility.HelperSEO.ToSeoUrl(item.Title), id = item.NewsID })">
                                @item.Title
                            </a>

                            <p class="ShortDescription_content_more dot_Des">
                                @item.ShortDescription
                            </p>
                            <p class="pull-right datetime_post">
                                @*(@item.CreatedDate.Value.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture))*@

                                @{
                        if (item.CreatedDate.Value.AddDays(7) > DateTime.Now && item.IsNew == true)
                        {
                            <span style="color:red">New</span>

                        }
                                }
                            </p>
                        </li>
                    }
                </ul>
            </div>
        </div>

        <div class="col-md-4 sidebar">
            @Html.Partial("_A_SideBar")
        </div>
    </div>
</div>

<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.3";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>