@model BlueDataWeb.Models.CustomsModel.NewsModels

@{
    ViewBag.Title = "Edit Ứng dụng";
}
<script src="~/nicEditor/nicEdit.js"></script>
<script>
    bkLib.onDomLoaded(function () {
        new nicEditor({ fullPanel: true, uploadURI: '/admin/Home/nicUpload' }).panelInstance('area');

    });
    bkLib.onDomLoaded(function () {
        new nicEditor({ fullPanel: true, uploadURI: '/admin/Home/nicUpload' }).panelInstance('area1');

    });
    bkLib.onDomLoaded(function () {
        new nicEditor({ fullPanel: true, uploadURI: '/admin/Home/nicUpload' }).panelInstance('area2');

    });

    bkLib.onDomLoaded(function () {
        new nicEditor({ fullPanel: true, uploadURI: '/admin/Home/nicUpload' }).panelInstance('area3');

    });
</script>
@using (Html.BeginForm("Edit", "UngDung", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <div class="mar10 borall">
        <div class="floatl">
            <span class="floatl">
                <img src="/Areas/Admin/images/icon-48-generic.png" />
            </span>
            <span class="title-name">@ViewBag.Title</span>
        </div>
        <ul class="floatr toolbar-list">
            <li id="toolbar-cancel" class="button">
                <a class="toolbar back" href="#">
                    <span class="icon-32-cancel"></span>
                    Hủy bỏ
                </a>
            </li>
            <li class="button">
                <div class="toolbar">
                    <span class="icon-32-apply"></span>
                    <input type="submit" value="Lưu" />
                </div>
            </li>
        </ul>
    </div>
    <!--end borall-->

    <div class="clear0"></div>
    <div class="mar10 borall">
        <div class="div100">
            <div>
                <fieldset class="fromlist">

                    @Html.HiddenFor(model => model.NewsID)
                    @Html.HiddenFor(model => model.AppID)
                    @Html.HiddenFor(model => model.CreatedDate)                   
                    @Html.HiddenFor(model => model.KeyName)




                    <ul>
                        <li>
                            @Html.LabelFor(model => model.Title, "Thể loại")
                            @Html.DropDownList("NewCategoriesID")
                        </li>
                        <li>
                            @Html.LabelFor(model => model.Title, "Tên  ")
                            @Html.TextBoxFor(model => model.Title, new { size = "66", @id = "tilte", @class = "TextRequire", @maxlength = "200" })
                            @Html.ValidationMessageFor(model => model.Title, null, new { @class = "validate" })
                        </li>



                        <li>
                            @Html.LabelFor(model => model.MetaTitle, "Meta Title")
                            @Html.TextBoxFor(model => model.MetaTitle, new { size = "80", @class = "TextRequire", @maxlength = "65" })
                            @Html.ValidationMessageFor(model => model.MetaTitle, null, new { @class = "validate" })
                        </li>

                        <li>
                            @Html.LabelFor(model => model.MetaKeywords, "Meta Keywords")
                            @Html.TextBoxFor(model => model.MetaKeywords, new { size = "80", @class = "TextRequire", maxlength = "100" })
                            @Html.ValidationMessageFor(model => model.MetaKeywords, null, new { @class = "validate" })
                        </li>
                        <li>
                            @Html.LabelFor(model => model.MetaDescription, "Meta Description")
                            @Html.TextAreaFor(model => model.MetaDescription, new { rows = 3, clos = 123, @class = "TextRequire", @maxlength = "160", style = "Width:595px;" })
                            @Html.ValidationMessageFor(model => model.MetaDescription, null, new { @class = "validate" })
                        </li>


                        <li style="color:red; font-weight:bold">
                            <label for="isCaseStudy" style="background: red none repeat scroll 0% 0%;display: table;font-weight: bold;float: left;color: white;">Case study</label>
                            <div style="float:left;margin-left:5px;">
                                @Html.CheckBox("isCaseStudy")
                            </div>

                            <br />
                        </li>



                        <li>
                            @Html.LabelFor(model => model.IsNew, "Mới")
                            @Html.CheckBox("IsNew")
                        </li>


                        <li>
                            @Html.LabelFor(model => model.ShortDescription, "Mô tả ngắn")
                            @Html.TextAreaFor(model => model.ShortDescription, new { cols = "75", rows = "3", @id = "ShortDes", @class = "TextRequire", @maxlength = "400" })
                            @Html.ValidationMessageFor(model => model.ShortDescription, null, new { @class = "validate" })
                        </li>
                        <p id="ShortDesError" style="color: red"></p>

                        <li>
                            @Html.LabelFor(model => model.OrderBY, "Vị trí")
                            @Html.TextBoxFor(model => model.OrderBY, new { size = "66", @id = "tilte", @maxlength = "200", @type = "number", @min = "0", @class = "numericOnly" })

                        </li>


                        <li>
                            <label class="red" style="float: left;">Hình ảnh  (Tỉ lệ  5 x 3) </label>
                            <input name="img" id="img" style="float: left; margin: 0px 4px;" type="file">

                            @Html.HiddenFor(m => m.ImagePath)

                            <img src="/Images/News/@(Model.ImagePath)" width="85" />
                        </li>


                        <li>
                            <div>
                                @Html.LabelFor(model => model.Description, "Nội dung")
                                <div style="margin-left: 203px">
                                    @Html.TextAreaFor(model => model.Description, new { @id = "area", rows = 20, clos = 55, style = "Width:100%;", @class = "Descriptionvali" })
                                    @Html.ValidationMessageFor(model => model.Description, null, new { @class = "validate" })
                                </div>
                            </div>
                        </li>


                        <li>
                            <div>
                                @Html.LabelFor(model => model.CaseStudy_OverView, "CaseStudy_OverView")
                                <div style="margin-left: 245px">
                                    @Html.TextAreaFor(model => model.CaseStudy_OverView, new { @id = "area3", rows = 20, clos = 55, style = "Width:100%;", @class = "Descriptionvali" })
                                    @Html.ValidationMessageFor(model => model.CaseStudy_OverView, null, new { @class = "validate" })
                                </div>
                            </div>
                        </li>

                        <li>
                            <div>
                                @Html.LabelFor(model => model.CaseStudy_Main, "CaseStudy_Main")
                                <div style="margin-left: 245px">
                                    @Html.TextAreaFor(model => model.CaseStudy_Main, new { @id = "area1", rows = 20, clos = 55, style = "Width:100%;", @class = "Descriptionvali" })
                                    @Html.ValidationMessageFor(model => model.CaseStudy_Main, null, new { @class = "validate" })
                                </div>
                            </div>
                        </li>


                        <li>
                            <div>
                                @Html.LabelFor(model => model.CaseStudy_Use, "CaseStudy_Use")
                                <div style="margin-left: 245px">
                                    @Html.TextAreaFor(model => model.CaseStudy_Use, new { @id = "area2", rows = 20, clos = 55, style = "Width:100%;", @class = "Descriptionvali" })
                                    @Html.ValidationMessageFor(model => model.CaseStudy_Use, null, new { @class = "validate" })
                                </div>
                            </div>
                        </li>


                    </ul>
                </fieldset>
            </div>
        </div>
    </div>
}

<div>
    <a class="toolbar back" href="#">Trở về danh sách</a>
</div>