@model IEnumerable<BlueDataWeb.Models.Entites.News>

@{
    ViewBag.Title = "Dự án";
}

<div class="clearfix"></div>

@{Html.RenderAction("ViewSider", "Sider", new { typleSider = "E_TrienKhai" });}
<div class="container body-content">

    <div class="row">

        <div class="col-md-8 main-content padding0">

            <div class="panel ">
                <div class="panel-heading">
                    <div class="tilte_green">
                        <span> <i class="icon_sanpham"></i> Dự án</span>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="col-sm-12 col col_right">
                        @foreach (var item in Model)
                        {
                            <div class="col-md-6 col-xs-12  ">
                                <a class="thumbnail img-hover" title="@item.Title" href="@Url.RouteUrl("duandetail", new { title = BlueDataWeb.Utility.HelperSEO.ToSeoUrl(item.Title), id = item.NewsID })">
                                    <img class=" img-responsive" src="~/Images/News/@item.ImagePath">
                                </a>

                                <a class="  " title="@item.Title" href="@Url.RouteUrl("duandetail", new { title = BlueDataWeb.Utility.HelperSEO.ToSeoUrl(item.Title), id = item.NewsID })">

                                    <h3 class="hongha   dot_title dot_Des title_big">
                                        @item.Title
                                    </h3>
                                </a>

                                <div class="dot_Des ShortDescription_content_fix">
                                    @item.ShortDescription
                                </div>

                                <div class="clearfix"></div>

                                <p class="pull-right datetime_post">
                                    @*(@item.CreatedDate.Value.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture))*@

                                    @{
                            if (item.CreatedDate.Value.AddDays(7) > DateTime.Now && item.IsNew == true)
                            {

                                <span style="color:red">New</span>
                            }

                                    }
                                </p>
                                <div class="clearfix"></div>
                            </div>

                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 sidebar">
            @Html.Partial("_A_SideBar")
        </div>
    </div>
</div>