@model IEnumerable<BlueDataWeb.Models.Entites.News>
@{
    var news = Model.FirstOrDefault();
}

<div class="col-sm-6 col-xs-12  ">
    <div class="panel-heading">

        <h3 class="title_left">
            <a title="Tin tức khác" href="~/tin-tuc/tin-tuc-khac-13">
                <span>

                    <i class="icon_sanpham"></i>
                    Tin tức khác
                </span>
            </a>
        </h3>
    </div>

    <div class="panel-body">
        @if (news != null)
        {
            string link_detail = Url.RouteUrl("TinTucDetail", new { cate = BlueDataWeb.Utility.HelperSEO.ToSeoUrl(news.NewCategory.Name), title = BlueDataWeb.Utility.HelperSEO.ToSeoUrl(news.Title), id = news.NewsID });

            <a class="thumbnail img-hover" href="@link_detail" title="@news.Title">
                <img src="~/Images/News/@news.ImagePath" class=" img-responsive">
            </a>
            <a class=" " href="@link_detail">

                <h3 class="  hongha dot_title dot_Des title_big">
                    @news.Title
                </h3>
            </a>
            <p class="ShortDescription_content dot_Des">
                @news.ShortDescription
            </p>
            <div class="clearfix"></div>

            <p class="pull-right datetime_post">
                @*(@news.CreatedDate.Value.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture))*@

                @{
            if (news.CreatedDate.Value.AddDays(7) > DateTime.Now && news.IsNew == true)
            {

                <span style="color:red">New</span>
            }
                }
            </p>

            <div class="clearfix"></div>

            <br />

            foreach (var item in Model.Skip(1))
            {
                link_detail = Url.RouteUrl("TinTucDetail", new { cate = BlueDataWeb.Utility.HelperSEO.ToSeoUrl(item.NewCategory.Name), title = BlueDataWeb.Utility.HelperSEO.ToSeoUrl(item.Title), id = item.NewsID });

                <div class="col-sm-12 col-xs-12 padding0  ">

                    <div class="col-sm-6 col-xs-12">
                        <a class="thumbnail img-hover" href="@link_detail" title="@item.Title">
                            <img src="~/Images/News/@item.ImagePath" class=" img-responsive">
                        </a>
                    </div>

                    <div class="col-sm-6 col-xs-12">

                        <p class="ShortDescription_content dot_Des">
                            <a href="@link_detail" title="@item.Title">
                                @item.Title
                            </a>
                        </p>

                        <div class="clearfix"></div>

                        <p class="pull-right datetime_post">
                            @*(@item.CreatedDate.Value.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture))*@

                            @{
                if (item.CreatedDate.Value.AddDays(7) > DateTime.Now && item.IsNew == true)
                {

                    <span style="color:red">New</span>
                }
                            }
                        </p>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            }
        }
    </div>
</div>